/* General Styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222831;
  color: white;
  gap: 1rem;
  min-width: 320px;
  height: auto;
  box-sizing: border-box;
  width: 100vw;
}
h1 {
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
h1,
h2 {
  margin-bottom: 0;
  white-space: nowrap;
}
h2 {
  margin: 0;
  flex-shrink: 0; /* Prevents the number element from shrinking */
  flex-basis: 200px; /* Prevents the number element from growing unnecessarily */
  text-align: right; /* Aligns the number to the right */
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 48px;
  border-radius: 20%;
  cursor: pointer;
  color: white;
  font-size: medium;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: transform 0.5s ease;
  user-select: none;
}
button:hover {
  opacity: 0.7;
}
button:active {
  transform: scale(0.9);
}

/* Styling for input page */
#input-form {
  width: 320px;
  height: 200px;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  border: 2px solid gray;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
label {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
input {
  margin: 0 8px;
  padding: 8px;
  border-radius: 8px;
  width: 86px;
}
#input-lifts {
  margin-left: 35px;
}
button[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
button[type="submit"]:hover {
  background-color: #45a049;
}

/* Styles for the output section */
#output {
  width: 100vw;
  margin: 0;
  padding: 0.2rem;
  padding-top: 0;
  box-sizing: border-box;
}
.lift-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.floor {
  height: 140px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  border-bottom: 2px solid black;
}
.lift {
  position: relative;
  flex: 0 0 80px;
  height: 100px;
  border: 2px solid black;
  border-radius: 8px;
  overflow: hidden;
}
.lift-doors {
  position: relative;
  width: 100%;
  height: 100%;
}
.door-left,
.door-right {
  position: absolute;
  width: 49%;
  height: 100%;
  background-color: #c5ced9;
  transition: transform 2.5s ease;
}
.door-left {
  left: 0;
  overflow: hidden;
}
.door-right {
  right: 0;
}
.door-open .door-left {
  transform: translateX(-100%);
}
.door-open .door-right {
  transform: translateX(100%);
}
.button-up {
  background-color: green;
}
.button-down {
  background-color: #f2cc0f;
}
.controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
/* Media Queries */
/* @media (max-width: 1024px) {
  h1 {
    font-size: 1.8rem;
  }
  #output {
    width: 600px;
  }
  h2 {
    font-size: 1.2rem;
  }
  .lift {
    height: 70%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.2rem;
  }
  #output {
    width: 300px;
  }
  h2 {
    font-size: 0.8rem;
  }
  .lift {
    height: 50%;
  }
  button {
    font-size: small;
    width: 54px;
    height: 36px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 1rem;
  }
  #output {
    width: 300px;
  }
  h2 {
    font-size: 0.8rem;
  }
  .lift {
    height: 50%;
  }
  button {
    font-size: small;
    width: 54px;
    height: 36px;
  }
} */
